<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Sample Project" />
    <meta name="author" content="BBW RL" />
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.2-dist/css/bootstrap.min.css}"/>
</head>
<body>
	<div style="margin-left: 5rem">
		<h1>Personenverwaltung</h1>
		<button><a href="http://localhost:8090/index.php?route=/table/change&db=Personenverwaltung&table=person">create user</a><button>
		<table>
			<tr>
				<th>Vorname</th>
				<th>Nachname</th>
				<th>email</th>
			</tr>
			<div th:each="person : ${personlist}">
				<tr>
					<th th:text="${person.vorname}"></th>
					<th th:text="${person.nachname}"></th>
					<th th:text="${person.email}"></th>
					<th><a href="http://localhost:8090/index.php?route=/sql&db=Personenverwaltung&table=person&pos=0">change</a></th>
				</tr>
			</div>
		</table>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>